.box-loading{
    text-align: center;
    .loading{
        font-size: 35px;
    }
}
.legend{
    font-size: 1rem;
    font-weight: 600;
}
.box-span{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}