tr {
    

    .td-status {
        .status-online {
            font-size: 20px;
            color: rgb(10, 224, 10);
        }

        .status-offline {
            font-size: 20px;
            color: red;
        }
    }
}