 .form-reset-password{

     width: 410px;
     margin: 0 auto;
     padding-top: 100px;
     height: 100vh;
    .form {
            border: 1px solid white;
            padding: 20px 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
    
            h1 {
                text-align: center;
                color: #E8900C;
                font-weight: 400;
            }
    
            .form-group {
                label {
                    color: #E8900C;
                }
                .box-eye{
                    position: relative;
                    input {
                        color: #E8900C;
                        border: 1px solid #E8900C;
                    }
                    .ic-none{
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 10px;
                    }
                }
            }
    
            .bt {
                button {
                    border: 1px solid #E8900C;
                    width: 100%;
                    background-color: #E8900C;
    
                    &:hover {
                        opacity: .5;
                    }
                }
            }
        }
 }